accelerate==1.1.0
aiohttp==3.10.10
anyio==4.6.2
asttokens==2.0.5
attrs==24.2.0
faiss-cpu==1.9.0
fastapi==0.115.4
filelock==3.16.1
fsspec==2024.9.0
huggingface_hub==0.26.1
httpx==0.27.2
ipykernel==6.29.5
ipython==8.15.0
jupyter_client==8.6.0
jupyter_core==5.7.2
langchain==0.3.4
langchain-core==0.3.12
langsmith==0.1.129
multiprocess==0.70.16
nest-asyncio==1.6.0
numpy==1.26.4
pandas==2.2.3
pillow==10.4.0
pydantic==2.9.2
pyarrow==17.0.0
requests==2.31.0
scipy==1.11.2
torch==2.1.0
torchvision==0.16.0
transformers==4.34.0
typing-extensions==4.5.0
uvicorn==0.23.2
